.btn{
    display: inline-flex !important;
    align-items: center;
    gap: .3rem;
    text-transform: capitalize;
}

.btn-logout:hover{
    color: #dc3545 !important;
}

.hover\:bg-danger:hover{
    background-color: var(--red) !important;
    color: var(--white) !important;
}

.hover\:bg-primary:hover{
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

.hover\:bg-secondary:hover{
    background-color: var(--gray) !important;
    color: var(--white) !important;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-profile {
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: gray;
}